* {
    margin: 0;
    padding: 0;
    background-color: #F1E1AD;

}

.card{
    display: flex;
    background-color: #362c1e;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    height: 300px;


}
.imagem {
    height: 150px;
    width: 150px;
    align-items: center;
    background-color: #362c1e;
}